version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "docker"

  - package-ecosystem: "composer"
    directory: "/app"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "composer"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
